@model IEnumerable<Urun>


    <h3>Eklenmiş Ürünler</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Ad @item.Fiyat</li>
        }
    </ul>
    <p>İşlem Başarılı....</p>
