
    <p>
       Merhaba  @ViewBag.Ad
    </p>
    <p>
        @if (ViewBag.Saat >= 17)
        {
            <span>İyi Akşamlar</span>
        }
        else
        {
            <span>İyi Günler</span>
        }
    </p>
    <a asp-action="UrunEkle" asp-controller="Home" >ürün ekle</a>

