@model Urun
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrunEkle</title>
</head>
<body>
    <form method="post">
        <p>
            <input placeholder="Ürün adı" asp-for="Ad" />
            <span asp-validation-for="Ad"></span>
        </p>
        <p>
            <input asp-for="Fiyat" />
            <span asp-validation-for="Fiyat"></span>
        </p>
        <p>
            <input asp-for="Aciklama" />
            <span asp-validation-for="Aciklama"></span>
        </p>
       
        <button type="submit">Ekle</button>
        
    </form>
</body>
</html>
