@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";


}


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_ProductCart" model="product" />
        </div>
    }
</div>

<div class="row">

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(ViewBag.Page==@i ? "active":"")">  <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>

            }


        </ul>
    </nav>

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.addCart').on('click', function () {
                let id = $(this).data('id');
                alert(id);
                $.ajax({
                    url: '/ShoppingCart/AddProductToCart/' + id,
                    dataType: 'json',
                    success: function (response) {
                        console.log("işlem tamam");
                        alert(response);
                    }
                })
            });
        }
        );
    </script>
}